.App{
    height: 100vh;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.top{
    position: absolute;
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient( to bottom, rgba(227, 11, 148, 0.958), rgba(255, 255, 255, 0.8) );
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transition: 1s ease-in;

    p{
        font-size: 60px;
        font-weight: 600;
        background: linear-gradient(to right, rgb(0, 87, 145), rgb(191, 0, 115)); /* Màu gradient */
        -webkit-background-clip: text; /* Cắt nền theo chữ (cho Chrome/Safari) */
        background-clip: text; /* Cắt nền theo chữ */
        color: transparent;

        @media (max-width: 1080px) {
            font-size: 22px;
        }

        @media (max-width: 768px) {
            font-size: 22px;
        }

        @media (max-width: 500px) {
            font-size: 20px;
        }
    }
}

.top.active{
    height: 0;
    p{
        transform: translateY(-150%);

    }
}

.bottom{
    position: absolute;
    height: 50%;
    width: 100%;
    background: linear-gradient( to top, rgba(31, 165, 255, 0.958) , rgba(251, 251, 251, 0.8));
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transition: 1s ease-in;
}

.bottom.active{
    height: 0;
}

.tomato__wrapper{ 
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 1.5s ease;
    z-index: 2;
}

.tomato__center{
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(227, 11, 148, 0.958) ,rgba(0, 114, 190) ); /* Nửa bên trái */
    border-radius: 50%;
    z-index: 2;
    animation: rotated 4s linear infinite;
    transition: opacity 1s ease-in,  visibility 1s ease-in;
}

.tomato__center.active{
    opacity: 0;  
    visibility: hidden;  
}

@keyframes rotated {
    0% {
        transform: rotate(0deg);;
    } 
    100% {
        transform: rotate(360deg);
    }
}

.div__img{
    width: 100px;
    height: 100px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: transform 1s ease-in;
    z-index: 3;
    cursor: pointer;


}

.div__img.active{
    animation: logo 2s ease-in forwards;    

    img{
        animation: shake 2s infinite;
    }

    @media (max-width: 1024px) {
        top: 51%;
        left: 51%;
    }

    @media (max-width: 768px) {
        top: 51%;
        left: 42%;
    }

    @media (max-width: 599px) {
        top: 44.5%;
        left: 20%;
    }

    @media (max-width: 450px) {
        top: 36.5%;
        left: 13%;
    }

    @media (max-width: 391px) {
        top: 38.5%;
        left: 8.5%;
    }

    @media (max-width: 350px) {
        top: 44.5%;
        left: 0%;
    }

}

@keyframes logo {
    0% {
        transform: scale(1) translate(-50%, -50%);
    }

    50% {
        transform: scale(1.5) translate(450%, -50%);
    }

    100% {
        transform: scale(1.5) translate(135%, -180%); /* Di chuyển qua phải */
    }
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(30deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.div__img:not(.active) {
    animation: return .25s ease-in forwards; /* Animation quay về vị trí ban đầu */
}

@keyframes return {
    0% {
        transform: scale(1.5) translate(135%, -180%); /* Tại vị trí cuối */
    }
    100% {
        transform: scale(1) translate(-50%, -50%); /* Quay về vị trí ban đầu */
    }
}

.tomato__img{
    height: 50px;
    width: 50px;

    
    @media (max-width: 599px) {
        height: 40px;
        width: 40px;
    }
    
}

.tomato__img.active{
    @media (max-width: 599px) {
        height: 20px;
        width: 20px;
    }
}



@keyframes reverseRotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg); /* Xoay ngược lại */
    }
}

.container{
    position: absolute;
    top: 47%;
    left: 47%;
    transform: translate(-950%, -148%);
    transition: transform 3s ease-in-out, background-color 0.5s ease;

    @media (max-width: 768px) {
        top: 40%;
    }

    @media (max-width: 599px) {
        top: 20%;
    }
}

.container.active{
    transform: translate(-50%, -148%);

}

.container:not(.active){
    transition: transform 0.2s ease-in;
    transform: translate(-950%, -148%);
}

.content{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    p{
        font-size: 60px;
        font-weight: 600;

        @media (max-width: 768px) {
            font-size: 30px;
        }

        @media (max-width: 599px) {
            font-size: 20px;
        }
    }
}
.cua__img{
    height: 150px;
    width: 150px;  
    
    @media (max-width: 599px) {
        height: 50px;
        width: 50px; 
    }
}

.flip{
    position: absolute;
    width: 100%;
    top: 100%;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    transition: opacity 1s ease-in-out, transform 3.5s ease-in;
    z-index: 4;

}

.flip.active{
    opacity: 1;
    transform: translateY(-170%);

    @media (max-width: 1024px) {
        transform: translateY(-150%);
    }

    @media (max-width: 768px) {
        transform: translateY(-150%);
    }

    @media (max-width: 599px) {
        transform: translateY(-330%);
    }

    @media (max-width: 380px) {
        transform: translateY(-330%);
    }

}

.flip:not(.active){
    transition: opacity 1s ease-in;
    opacity: 0;
    visibility: hidden;
}

.flipper {
    width: 200px;
    height: 300px;
    transition: transform 0.6s; /* Thời gian lật */
    cursor: pointer;
    transform-style: preserve-3d; /* Giữ các thành phần trong 3D */

    @media (max-width: 599px) {
        width: 120px;
        height: 200px;
    }

    @media (max-width: 380px) {
        width: 80px;
        height: 150px;
    }
}

.flipper.flipped {
    transform: rotateY(180deg); /* Lật 180 độ khi có class flipped */
}

.front1, .front2, .front3,
.back, .back2 {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Ẩn mặt sau khi không hiển thị */
    border-radius: 10px;
}

.front1, .front2, .front3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e3e3e3; /* Màu nền cho mặt trước */
    p{
        font-size: 20px;
        color: black;
        text-align: center;
    }
}

.back, .back2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent; /* Màu nền cho mặt sau */
    transform: rotateY(180deg); /* Lật mặt sau */
}

.back2{
    position: relative;
    background: linear-gradient(to bottom, rgba(31, 165, 255, 0.958) , rgba(227, 11, 148, 0.958),  rgba(251, 251, 251, 0.8), );
    p{
        text-align: center;
        color: white;
    }
}

.front1{
    background: linear-gradient(to bottom, rgba(31, 165, 255, 0.958) , rgba(251, 251, 251, 0.8) );
}

.front2{
    background: linear-gradient(to bottom, rgba(31, 165, 255, 0.958) , rgba(227, 11, 148, 0.958),  rgba(251, 251, 251, 0.8), );
    p{
        color: rgb(255, 255, 255);

    }
}

.front3{
    background: linear-gradient(to bottom, rgba(227, 11, 148, 0.958), rgba(255, 255, 255, 0.8));
}

.pe{
    height: 100%;
    width: 90%;
    border-radius: 10px;
}

.button__back{
    position: absolute;
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 43.3%;
    top: 60%;
    border: 1px solid rgba(31, 165, 255, 0.958);
    transform: translateY(320%);
    background-color: rgba(31, 165, 255, 0.958);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(31, 165, 255, 0.958);
    color: white;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    z-index: 1;
    &:hover{
        background-color:  rgba(0, 153, 255, 0.958);
        box-shadow: 0 0 50px rgba(3, 154, 255, 0.958);

    }

    @media (max-width: 1024px) {
        left: 40%;
        transform: translateY(250%);
    }

    @media (max-width: 768px) {
        left: 37%;
        transform: translateY(250%);
    }

    @media (max-width: 599px) {
        left: 27%;
        transform: translateY(10%);
    }

    @media (max-width: 380px) {
        left: 23%;
        transform: translateY(10%);
    }
}

.final{
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 5;
    transition: 0.5s ease-in;
}

.final.active{
    background-color: black;
}

.toBack{
    position: absolute;
    height: 50px;
    width: 120px;
    top: 10%;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(255, 242, 0);
    z-index: 5;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}

.dark{
    position: absolute;
    height: 50px;
    width: 120px;
    top: 20%;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(14, 14, 14);
    color: white;
    z-index: 5;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    transition: background-color 0.5s ease-in;
}

.dark.active{
    background-color: white;
    color: black;
}

.direct{
    position: absolute;
    height: 50px;
    width: auto;
    top: 20%;
    right: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    // background-color: rgb(14, 14, 14);
    color: white;
    z-index: 5;
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
    transition: background-color 0.5s ease-in;
    
    p{
        color: black;
        font-size: 30px;

        @media (max-width: 599px) {
            font-size: 18px;
        }
    
        @media (max-width: 399px) {
            font-size: 17px;
        }
    }

    @media (max-width: 1024px) {
        right: 20%;
    }

    @media (max-width: 599px) {
        right: 35%;
    }

    @media (max-width: 399px) {
        right: 40%;
    }

    
}

@keyframes toRight {
    0% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(-70%);
    }
}

.content__final{
    position: absolute;
    top: 30%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: 5;
    color: white;
    font-size: 20px;
    animation: fadeIn 2s ease-in forwards;
    text-align: center;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.heart__container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
}


.heart1 {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 128);
    transform: rotate(-45deg);
    box-shadow: 0 0px 20px rgba(255, 8, 107, 0.8); // Tạo hiệu ứng đổ bóng
    animation: scaleInOut 3s ease-in infinite;

    &:before,
    &:after {
      content: "";
      width: 100px;
      height: 100px;
      box-shadow: 0 0px 20px rgba(255, 8, 107, 0.8); // Tạo hiệu ứng đổ bóng
      background-color: rgb(255, 0, 128);
      border-radius: 50%;
      position: absolute;
    }
  
    &:before {
      top: -50px;
      left: 0;
    }
  
    &:after {
      top: 0;
      left: 50px;
    }
  }

.heart {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 0, 128);
    transform: rotate(-45deg);
    box-shadow: 0 0px 20px rgba(255, 8, 107, 0.8); // Tạo hiệu ứng đổ bóng
    animation: scaleInOut 1s ease-in infinite;

    &:before,
    &:after {
      content: "";
      width: 100px;
      height: 100px;
      box-shadow: 0 0px 20px rgba(255, 8, 107, 0.8); // Tạo hiệu ứng đổ bóng
      background-color: rgb(255, 0, 128);
      border-radius: 50%;
      position: absolute;
    }
  
    &:before {
      top: -50px;
      left: 0;
    }
  
    &:after {
      top: 0;
      left: 50px;
    }
  }
  
@keyframes scaleInOut {
    0% {
        transform:  rotate(-45deg) scale(1); // Chỉ scale không ảnh hưởng đến rotate
    }

    25% {
        transform:  rotate(-45deg) scale(1.2); 
    }

    50% {
        transform:  rotate(-45deg) scale(1);
    }

    75% {
        transform:  rotate(-45deg) scale(1.2);
    }

    100% {
        transform:  rotate(-45deg) scale(1);
    }
}